ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.layout--full-height {
  height: 100vh;
}

.ant-layout-content--indents {
  padding: 50px;
}